**.png
**.out
**.ckpt
**.zip
**.tif
**.bmp
**.pt
**.pth
**.npz
**.npy
**.pkl
**.pack
**.vscode

src/_*
places_standard_dataset/
ControlNet/
outputs/
tb_logs/

.vscode/
.vscode/**
**.vscode/**

_SwinIR/
_lama/
_I2SB/
_dsbm-pytorch/

___.ipynb
___baselines.ipynb
__pycache__/
__benchmarks__/
__exps__/__controlnet_runs__/
__repos__/
__notes__/
__old__/
__exps__/