# Keep demo app
!app.py
!demo/*.npy

# Virtual environment
.venv/
**.out
**.ckpt
**.zip
**.tif
**.bmp
**.pt
**.npz
**.pkl
**.pack
**.vscode

src/_*
places_standard_dataset/
ControlNet/
outputs/
tb_logs/

**__pycache__/**
**__MACOSX/**
.DS_Store

.vscode/
.vscode/**
**.vscode/**

wandb/
_SwinIR/
_RNAN/

_lama/
_I2SB/
_dsbm-pytorch/

___.ipynb
___baselines.ipynb
__pycache__/
__benchmarks__/
__exps__/
__repos__/
__notes__/

___notes___/

___old___/
___old___/**
__old__/
__old__/**
__exps__/
__exps__/**